/* Designs Section */

.designs-section {
    padding: 10rem 15.2rem;
    position: relative;
}

.designs-section .heading-3 {
    margin-bottom: 4.6rem;
}

.arrows {
    position: absolute;
    top: 11.6rem;
    right: 15.2rem;
}

.arrow-right,
.arrow-left {
    width: 2.5rem;
    height: 2rem;
}

.arrow-right {
    margin-right: 1.5rem;
}

.design-card {
    display: inline-block;
    vertical-align: top;
    height: 68rem;
    width: calc((100% - 5.2rem) / 3);
}

.designs-section .design-card:not(:last-child) {
    margin-right: 2.6rem;
}

.design-img {
    height: 68rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.chair-light {
    object-position: 50%;
}

.chair-dark {
    object-position: 75%;
}

.couch {
    object-position: 15%;
}

#design-last-card {
    position: relative;
}

.design-inner-card {
    padding: 2rem;
    width: 80%;
    height: 11.5rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
    box-shadow: 0rem 3.4rem 5rem 0rem rgba(0, 0, 0, 0.15);

    position: absolute;
    left: 1.6rem;
    bottom: 1.6rem;
}

.design-inner-card span {
    color: orange;
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 4.2rem;
}

#inner-card-text {
    color: black;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.design-inner-card img {
    position: absolute;
    width: 2rem;
    right: 2.4rem;
    bottom: 2.4rem;
}

/*-----------------*/
@media (max-width: 1000px) {
    html {
        font-size: 50%;
    }

    .designs-section {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    .arrows {
        right: 8rem;
    }
}

@media (max-width: 600px) {
    .designs-section {
        padding-left: 2.8rem;
        padding-right: 2.8rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .arrows {
        right: 8rem;
    }

    .design-card {
        display: block;
        width: 100%;
        margin-bottom: 3rem;
        margin-right: 0;
    }

    .designs-section .heading-3 {
        font-size: 3.2rem;
        text-align: center;
    }

    .arrows {
        display: none;
    }

    .designs-section .design-card:not(:last-child) {
        margin-right: 0;
    }
}
