/* Hero Section */

.hero-section {
    padding: 0 6rem;
}

.hero-section__card {
    background-color: #fae2da;
    border-radius: 3rem;
    padding: 7.5rem 9.2rem;
}

.hero-section__left {
    display: inline-block;
    vertical-align: middle;
    width: calc((100% - 8rem) * 0.4);
    margin-right: 8rem;
    position: relative;
}

.hero-img-wrapper img {
    max-width: 100%;
}

.hero-section__left .cicle {
    height: auto;
    width: 66%;
    position: absolute;
    top: 7rem;
    right: 0;
    z-index: 1;
}

.hero-section__left .chair {
    width: 90%;
    position: relative;
    z-index: 2;
    height: auto;
}

.hero-section__right {
    height: max-content;
    width: calc((100% - 8rem) * 0.6);
    display: inline-block;
    vertical-align: middle;
}

.uppercase-text-2.text-top {
    color: var(--color-3, #ff794d);
}

.hero-section__right h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hero-section__right p {
    margin-bottom: 5.8rem;
}

/*----------------*/
@media (max-width: 1000px) {
    html {
        font-size: 50%;
    }
    .hero-section {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .hero-section__content {
        padding-right: 5rem;
        padding-left: 5rem;
    }
}
@media (max-width: 600px) {
    .hero-section {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }

    .hero-section__card {
        padding-right: 2.8rem;
        padding-left: 2.8rem;
    }

    .hero-section__left {
        display: block;
        width: 100%;
        margin-bottom: 3.6rem;
    }

    .hero-section__left .cicle {
        top: 5.5rem;
    }

    .hero-section__right {
        display: block;
        width: 100%;
    }
}
