/* Process Section */

.process-section {
    padding: 4rem 15.2rem 14rem;
}

.process-section .uppercase-text-1 {
    opacity: 0.69;
    margin-bottom: 11rem;
}

.process-line:not(:last-child) {
    margin-bottom: 14rem;
}

.num {
    color: var(--color-7, #20bfa9);
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 4rem;
}

.number,
.process-heading,
.process-text {
    display: inline-block;
    vertical-align: top;
}

.process-link {
    display: inline-block;
    vertical-align: bottom;
    width: calc((100% - 8rem - 15rem - 15rem) * 0.25);
    /* width: calc(((2.5 * 100) / 16) * 1%); */
}

.number {
    /* width: calc(((3.6 * 100) / 16) * 1%); */
    width: calc((100% - 8rem - 15rem - 15rem) * 0.1);

    margin-right: 8rem;
}

.process-heading {
    /* width: calc(((31 * 100) / 16) * 1%); */
    width: calc((100% - 8rem - 15rem - 15rem) * 0.25);
    margin-right: 15rem;
}

.process-text {
    padding-left: 0;
    padding-top: 0;
    width: calc((100% - 8rem - 15rem - 15rem) * 0.4);
    /* width: calc(((41.6 * 100) / 16) * 1%);
    margin-right: calc(((16 * 100) / 16) * 1%); */
    margin-right: 15rem;
}

.orange-line {
    width: 3rem;
}

/*---------------------*/
@media (max-width: 1000px) {
    html {
        font-size: 50%;
    }

    .process-section {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media (max-width: 600px) {
    .process-section {
        padding-left: 2.8rem;
        padding-right: 2.8rem;
        padding-bottom: 6rem;
    }
    .number,
    .process-heading,
    .process-text,
    .process-link {
        display: block;
        width: 100%;
    }
    .process-section .uppercase-text-1 {
        margin-bottom: 0;
    }

    .process-text,
    .process-link {
        margin-bottom: 3.5rem;
    }
    .number,
    .process-heading {
        margin-bottom: 1.6rem;
    }

    #process-section .process-line:not(:last-child) {
        margin-bottom: 3.5rem;
        border-bottom: 0.2rem solid #dfdfdf7c;
    }

    .process-line {
        align-items: center;
        display: block;
    }
}
