/* Footer Section */
.footer {
    padding: 0 6rem 6rem;
}

.footer__content {
    background: var(--color-9, #fae2da);

    border-radius: 3rem;
    /* margin: 0 6rem 6rem; */
    padding: 14rem 9.2rem;
}

.footer__content > *:not(:last-child) {
    margin-right: calc(((17 * 100) / 147.8) * 1%);
    /* margin-right: 2.6rem; */
}

.footer__content > * {
    display: inline-block;
    vertical-align: top;
}

.footer__content > *:not(:first-child) {
    width: calc(((18.8 * 100) / 147.8) * 1%);
    /* width: calc((100% - 7.8rem) * 0.7 / 3); */
}

.footer__brand {
    width: calc(((27.7 * 100) / 147.8) * 1%);
}

.footer__brand img {
    height: 2.8rem;
    width: auto;
}

.footer__brand img,
.footer__heading {
    margin-bottom: 6.5rem;
}

.footer__brand img + p {
    margin-bottom: 3.4rem;
}

.footer__contact p,
a:not(:last-child) {
    margin-bottom: 2rem;
}

.footer__content a {
    display: block;
}

/*-------------------*/
@media (max-width: 1000px) {
    html {
        font-size: 50%;
    }

    .footer {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .footer__content {
        padding-right: 5rem;
        padding-left: 5rem;
    }
}

@media (max-width: 600px) {
    .footer {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
        padding-bottom: 2.8rem;
    }

    .footer__content {
        padding-right: 2.8rem;
        padding-left: 2.8rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .footer__content > * {
        display: block;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .footer__brand,
    .footer__contact,
    .footer__product,
    .footer__about-us {
        align-items: center;
        text-align: center;

        margin: 0;
        width: 100%;
    }
    .footer__content > *:not(:first-child) {
        width: 100%;
        padding-bottom: 1.6rem;
    }
    .footer__heading .uppercase-text-2 {
        padding-bottom: 1rem;
    }
}
